DISCORD_PUBLIC_KEY=
SUPABASE_DB_PASSWORD=
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SECRET_KEY=
DISCORD_APPLICATION_ID=
NEXT_PUBLIC_SITE_URL=
DISCORD_BOT_TOKEN=
GROQ_API_URL=
GROQ_API_KEY=
